{__NOLAYOUT__}
<style>
    th{
        background-color:lightskyblue;
    }
    th,td{
        padding-left:40px;
        padding-right:40px;
        text-align:center;
    }
    td{
        font-size:14px;
    }
</style>
<div class="row">

    <table border="1px solid #000" style="border-collapse:collapse;">
        <tr>
            <th>
                编号
            </th>
            <th>
                课程名称
            </th>
            <th>
                课程时长
            </th>
            <th>
                课程难易度
            </th>
        </tr>

        <volist name="course" id="mc">
            <tr>
                <td>
                    {$mc.pc_id}
                </td>
                <td>
                    {$mc.course_name}
                </td>
                <td>
                    {$mc.course_time}
                </td>
                <td>
                    {$mc.course_difficulty}
                </td>
            </tr>
        </volist>

    </table>

</div>