
<div class="row">

        <table class="table table-hover table-striped table-bordered">
            <thead class="bordered-blueberry">
            <tr>
                <th>
                    编号
                </th>
                <th>
                    视频名称
                </th>
                <th>
                    课程名称
                </th>
                <th>
                    课程章节
                </th>
                <th>
                    操作
                </th>
            </tr>
            </thead>

                <tbody>
                <volist name="myVideo" id="mv">
                <tr>
                    <td>
                        {$mv.pv_id}
                    </td>
                    <td>
                        <a href="{$mv.v_url}">{$mv.v_name}</a>
                    </td>
                    <td>
                        {$mv.course_name}
                    </td>
                    <td>
                        {$mv.cp_name}
                    </td>
                    <td>
                        <a href="{:U('deleteMyVideo',['pv_id'=>$mv['pv_id']])}">删除</a>
                    </td>
                </tr>
                </volist>
                </tbody>

        </table>

    </div>

    <br>
    <!-- Button trigger modal -->
    <a href="{:U('addMyVideo')}" class="btn btn-primary btn-lg">添加视频</a>
</div>